{% extends 'base.html.twig' %}

{% block metadescription %}Votre commande a été validée avec succeès{% endblock %}
{% block title %}Commande validée{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Merci, ta commande est validée!</h1>
            <div class="text-center">
                <img src="{{ asset('build/order_confirmed.svg') }}" alt="validation image" width="40%">
            </div>
        <div class="text-center">
        {% if is_granted('ROLE_BUYER') %}
            <a href="{{path('home')}}" class="btn btn-success">Retour Ever Naturals</a>
        {% endif %}
        </div> 
    </div>
</div>
{% endblock %}