{% extends 'base.html.twig' %}

{% block title %}Merci !
{% endblock %}

{% block body %}
	<div class="container-success container">
		<h1 class="text-center">Votre compte vient d'être créé!</h1>
		<p class="text-center">Un email de confirmation vous a été envoyé.</p>
	</div>
{% endblock %}

