<nav class="navbar navbar-expand-lg nav-bar">
  <a class="navbar-brand nav-bar-white title-navbar logo" href="{{path('home')}}">Yummy cupcakes</a>
  <ul class="navbar-nav ml-auto float-right">
    <li class="nav-item active">
      <a class="nav-link nav-bar-white title-navbar" href="{{path('products')}}">Nos cupcakes</a>
      <span class="sr-only"></span>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-bar-white title-navbar" href="">Notre Yummy story</a>
      <!--ajouter lien guide de survie-->
    </li>
    <li class="nav-item">
      <a class="nav-link nav-bar-white title-navbar" href="">Nous contacter</a>
      <!--ajouter lien guide de survie-->
    </li>
  </ul>
</nav>
