<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <style>

body{
  
    background-color: white;
    color: rgb(26, 25, 25);
    font-family: 'Maven Pro', sans-serif;
}


p{ 
    font-weight: lighter;
}

td{
    font-weight: lighter;
}

</style>
    </head>
    <body>
        <header>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>



